body {
  color: #231b13;
  font-size: 20px;
  font-family: sans-serif;
  line-height: 1.5;
}

header {
  background-color: #043e6f;
  color: #879483;
}

.headerLayout {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#headerTitle {
  background-color: #879483;
  color: #063970;
  padding-right: 10px;
  width: 300px;
  text-align: end;
  font-size: 30px;
}
.headerLinks {
  padding: 10px;
  padding-right: 50px;
  text-align: center;
}
#space {
  width: 500px;
}
#linksBorder {
  text-decoration: underline 2px solid #879483;
}

.imageLayout {
  padding: 10px;
  background-color: #2f70a2;
}
#image {
  transform: scaleX(-1);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#subtitle {
  background-color: #879483;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

#border2 {
  padding: 10px;
}

.workLayout {
  display: flex;
  padding-bottom: 50px;
}
.image2 {
  width: 100%;
  height: 100%;
  border: 10px solid #ab6f32;
}
img {
  transition: transform 0.3s ease;
}
img:hover {
  transform: scale(1.2);
  
}

.contactContents {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
  
}
.underline {
  border-bottom: 4px solid #879483;
  width: fit-content;
}

.linksStyle {
  color: blue;
}

.titles2 {
  font-size: 50px;
}

#textAbout {
  border: 5px solid grey;
  text-wrap:wrap;
}