:root {
  /* Google font */
  --font-montserrat: "Montserrat", system-ui;
  /* Light theme */
  --dark-navy-blue: #043e6f;
  --brighter-green: #98c379;
  --vibrant-sky-blue: #2f70a2;
  --warm-bronze: #ab6f32;
  --soft-light-gray: #eaeaea;
}

body {
  font-size: 21px;
  font-family: var(--font-montserrat);
  color: black;
}

header {
  background-color: var(--dark-navy-blue);
  color:  var(--brighter-green);
}

.headerLayout {
  padding: 20px;
  padding-right: 6%;
  padding-left: 0px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  background-color: var(--brighter-green);
  color: var(--dark-navy-blue);
  padding: 10px;
  padding-left: 10%;
  width: fit-content;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 10px 10px 0 0 rgba(128, 128, 128, 0.682);
}

.headerSpace {
  width: 2%;

}

#navbar {
  padding-bottom: 15px;
  width: 50%;
  align-items: end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

a {
  color:  var(--brighter-green);
  text-decoration:  underline none; 
}

.imageLayout {
  padding: 30px;
  background-color: var(--vibrant-sky-blue);
}
#image {
  transform: scaleX(-1);
  width: 100%;
  height:100%;
  object-fit: cover;
  border-radius: 10px;
}

h3 {
  background-color: var(--brighter-green);
  color: var(--dark-navy-blue);
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
}

.h3space {
  width: 15px;
}

#border2 {
  padding: 10px;
}

.workLayout {
  display: flex;
  padding: 10px;
  padding-bottom: 50px;
}
.image2 {
  width: 100%;
  height: 100%;
  border: 10px solid var(--warm-bronze);
  display: flex;
  flex-wrap: wrap;
  transition: transform 0.3s ease;
}

.image2:hover {
  transform: scale(1.2);
}

.contactContents {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
  
}
.underline {
  border-bottom: 4px solid var(--brighter-green);
  width: fit-content;
}

.linksStyle {
  color: blue;
}

.titles2 {
  font-size: 50px;
}

#textAbout {
  border: 5px solid grey;
  text-wrap:wrap;
}

footer {
  background-color: var(--soft-light-gray);
  padding: 30px;
  text-align: center;
  margin-top: 25px;
  font-size: 75%;
}


/* * Media Queries */

/* Dark Theme */
/* @media (prefers-color-scheme: dark) {
  :root {
    --darker-navy-blue: #021a34;
    --darker-green: #77a45b;
    --darker-vibrant-blue: #1a4a6b;
    --darker-warm-bronze: #8a5325;
    --darker-light-gray: #b3b3b3;
    --dark-background-color: #121212;
    --dark-text-color: #e0e0e0;
  }

  body {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
  }
  
  header {
    background-color: var(--darker-navy-blue);
    color: var(--darker-green);
  }

  h1 {
    background-color: var(--darker-green);
    color: var(--darker-navy-blue);
    box-shadow: 10px 10px 0 0 rgba(167, 167, 167, 0.402);
  }

  a {
    color: var(--darker-green);
  }

  .imageLayout {
    background-color: var(--darker-vibrant-blue);
  }

  h3 {
    background-color: var(--darker-green);
    color: var(--darker-navy-blue);
  }

  .image2 {
    border: 10px solid var(--darker-warm-bronze);
  }

  footer {
    background-color: var(--darker-light-gray);
    color: black;
  }

} */

/* Responsiveness */
@media (max-width: 918px) {
  .headerLayout {
    display: flex;
    flex-direction: column;
  }

  #navbar {
    padding-bottom: 0%;
    padding-top: 30px;
    padding-left: 10%;
    width: 80%;
  }
}
