:root {
  --font-montserrat: "Montserrat", system-ui;
  --dark-navy-blue: #043e6f;
  --vibrant-sky-blue: #2f70a2;
  --warm-bronze: #ab6f32;
  --brighter-green: #98c379;
  --soft-light-gray: #eaeaea;
}

body {
  font-size: 21px;
  font-family: var(--font-montserrat);
}

header {
  background-color: var(--dark-navy-blue);
  color:  var(--brighter-green);
}

.headerLayout {
  padding: 20px;
  padding-right: 6%;
  padding-left: 0%;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1 {
  background-color: var(--brighter-green);
  color: var(--dark-navy-blue);
  padding: 10px;
  padding-left: 10%;
  width: fit-content;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 10px 10px 0 0 rgba(128, 128, 128, 0.331);
}

.headerLinks {
  align-content: end;
  padding-bottom: 15px;
}

a {
  color:  var(--brighter-green);
  text-decoration:  underline none; 
}


.imageLayout {
  padding: 30px;
  background-color: var(--vibrant-sky-blue);
}
#image {
  transform: scaleX(-1);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

h3 {
  background-color: var(--brighter-green);
  color: var(--dark-navy-blue);
  padding: 20px;
  padding-right: 5%;
  text-align: end;
  margin-top: 30px;
  border-radius: 10px;
}

#border2 {
  padding: 10px;
}

.workLayout {
  display: flex;
  padding-bottom: 50px;
}
.image2 {
  width: 100%;
  height: 100%;
  border: 10px solid #ab6f32;
}
img {
  transition: transform 0.3s ease;
}
img:hover {
  transform: scale(1.2);
  
}

.contactContents {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
  
}
.underline {
  border-bottom: 4px solid #879483;
  width: fit-content;
}

.linksStyle {
  color: blue;
}

.titles2 {
  font-size: 50px;
}

#textAbout {
  border: 5px solid grey;
  text-wrap:wrap;
}

footer {
  background-color: var(--soft-light-gray);
  padding: 30px;
  text-align: center;
  margin-top: 25px;
  font-size: 80%;
}