body {
  color: #231b13;
  font-size: 20px;
  font-family: sans-serif;
  line-height: 1.5;
}

header {
  background-color: #043e6f;
  color: #879483;
  
}

.headerLayout {
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#headerTitle {
  background-color: #879483;
  color: #063970;
  padding-right: 10px;
  width: 300px;
  text-align: end;
  font-size: 30px;
}
.headerLinks {
  padding: 10px;
  text-align: center;
}
#space {
  width: 1000px;
}
#aboutMe {
  
}
#work {
 
}
#contactMe {
  
}
#resume {
  
}

.imageLayout {
  padding: 10px;
  background-color: #2f70a2;
}
#image {
  transform: scaleX(-1);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#subtitle {
  background-color: gray;
  padding: 10px;
  
  display: flex;
  justify-content: flex-end;
}

.footer {
  padding: 20px;
  text-align: center;
  color: #e867ed;
  font-weight: bold;
}

/* border: 1px dashed;
  word-break: break-all;
  white-space: pre-wrap; */