body {
  color: #231b13;
  font-size: 20px;
  font-family: sans-serif;
  line-height: 1.5;
}

header {
  background-color: #043e6f;
  color: #879483;
  height: 100px;
}

.headerLayout {
  padding-top: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}
#headerTitle {
  background-color: #879483;
  color: #063970;
  padding: 10px;
  width: 300px;
  text-align: end;
  font-size: 30px;
}
.headerLinks {
  width: 150px;
  text-align: center;
  padding: 10px;
}
#space {
  width: 1000px;
}
#aboutMe {
  background-color: white;
}
#work {
  background-color: green;
}
#contactMe {
  background-color: yellow;
}
#resume {
  background-color: peru;
}

.imageLayout {
  padding: 10px;
  background-color: #2f70a2;
  width: 1920px;
  height: 470px;
}
#image {
  width: 1900px;
  height: 450px;
  display: flex;
  transform: scaleX(-1);
}
#subtitle {
  display: flex;
  justify-content: flex-end;
  background-color: red;
  width: 510px;
}

.footer {
  padding: 20px;
  text-align: center;
  color: #e867ed;
  font-weight: bold;
}

/* border: 1px dashed;
  word-break: break-all;
  white-space: pre-wrap; */